
@{
    
        ViewBag.Title = "Login";
        Layout = "~/Views/Shared/_MyLayout.cshtml";
    
}

    <div>
        <div class="main-div">
            <form action="@Url.Content("~/User/Login")" method="POST">
                <img src="@Url.Content("~/Images/profile.png")" class="avatar">
                <h2>Password Recovery</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Email or LoginID</h5>
                        <input class="input" id="login" type="text" name="login" value="@ViewBag.Login" maxlength="40" required autofocus />
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div id="codeInput" style="display:none">
                        <h5>Verification Code</h5>
                        <input class="input" id="code" type="text" name="password" maxlength="40" />
                    </div>
                </div>
                <div id="confirmationdiv" style="display:block">
                </div>

                <input type="button" id="sndcodebtn" class="btn" value="Send Code" onclick="sendCode()" name="CodeSendButton">
                <input type="button" id="resendBtn" style="display:none" class="btn" value="Resend" onclick="sendCode()" name="CodeSendButton">
                <input type="button" id="resetCode" onclick="window.location.href='@Url.Content("~/User/ResetPassword")';" value="Reset Password" class="btn" style="display:none" />
                <a href='@Url.Content("~/User/Signup")'>Don’t have an account?</a><br />
                <p style="color:red;" id="pid">@ViewBag.MSG</p>
            </form>

        </div>
        
        @section scripts{
            <script>
        let msg ="@ViewBag.MSG";
        if (msg) {
            $("#login").focus();
        }
		setTimeout(() => {
			const elem = $("#pid").text("");
		}, 2000);
            </script>
            <script>
                function changeButtonFunctionality() {
                    debugger;
                    

                    $("#codeInput").css({ 'display': 'inline-block' });

                    $("#sndcodebtn").prop("onclick", null).attr("onclick", null)
                    $("#sndcodebtn").on('click', verifyCode);
                    
                    $("#sndcodebtn").val("Verify Code");

                }
                function verifyCode() {
                    debugger;
                    if ($("#code").val() == "") { alert("Code field cannot be empty"); }
                    else {
                        var d = { "verificationCode": $("#code").val() };

                        var settings = {
                            type: "POST",
                            dataType: "json",
                            url: "/User/VerifyCode",
                            data: d,
                            success: function (resp) {
                                if (resp.statusbit == 1) {
                                    alert(resp.msg)
                                   
                                    $("#resetCode").css({ 'display': 'inline-block' });

                                }
                                else {
                                    alert(resp.msg);
                                }
                            
                                
                            },
                            error: function (e) {
                                alert("Verify error");
                            }
                        };

                        $.ajax(settings);

                    }
                }
                function sendCode() {
                    
                    
                    if ($("#login").val() == "")
                        alert("Email field cannot be empty")
                    else {
                        var d = { "email": $("#login").val() };
                        
                        localStorage['useremail'] = $("#login").val();
                        $("#resendBtn").css({ 'display': 'inline-block' });

                        var settings = {
                            type: "POST",
                            dataType: "json",
                            url: "/User/SendVerificationCode",
                            data: d,
                            success: function (resp) {
                                if (resp.statusbit == 1) {
                                    alert(resp.msg);
                                    $("#sndcodebtn").unbind('click')
                                    
                                    
                                    changeButtonFunctionality();
                                }
                                else// if (resp.statusbit == 0)
                                {
                                    alert(resp.msg);
                                    //$("#confirmationdiv").append("<p>Invalid Email</p>");
                                }
                                
                            },
                            error: function (e) {
                                alert("Send Error");
                            }
                        };

                        $.ajax(settings);

                    }
                }
            </script>
        }
    </div>
