
@{

    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_MyLayout.cshtml";

}

<div>
    <div class="main-div">
        
            <img src="@Url.Content("~/Images/profile.png")" class="avatar">
            <h2>Change Password</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <h5>New Password</h5>
                    <input class="input" id="newpass" type="password" name="login" value="@ViewBag.Login" maxlength="40" required autofocus />
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fa fa-lock"></i>
                </div>
                <div id="codeInput">
                    <h5>Confirm Password</h5>
                    <input class="input" id="confirmpass" type="password" name="password" maxlength="40" />
                </div>
            </div>
            <div id="confirmationdiv" style="display:block">
            </div>

            <input type="button" id="sndcodebtn" class="btn" value="Change Password" onclick="changePassword()" name="changePassword">
            
            <input type="button" id="signinbtn" onclick="window.location.href='@Url.Content("~/User/Login")';" value="Login" class="btn" style="display:none" />
            <a href='@Url.Content("~/User/Signup")'>Don’t have an account?</a><br />
            <p style="color:red;" id="pid">@ViewBag.MSG</p>
        

    </div>
</div>
@section scripts{
    <script>
                function changePassword() {
                    if ($("#newpass").val() == "") { alert("Code field cannot be empty"); }
                    else if ($("#confirmpass").val() == "") { alert("Confirm  field cannot be empty"); }
                    else if ($("#confirmpass").val() != $("#newpass").val()) { alert("Password Must Match"); }
                    else {
                        var d = { "email": localStorage['useremail'], "newPassword": $("#newpass").val() };
                        var settings = {
                            type: "POST",
                            dataType: "json",
                            url: "/User/ResetPassword",
                            data: d,
                            success: function (resp) {
                                if (resp.statusbit == 1) {
                                    alert(resp.msg + " for " + resp.data);
                                    $("#signinbtn").css({ 'display': 'inline-block' });
                                }
                                else {
                                    alert(resp.msg);
                                }
                            },
                            error: function (e) {
                                alert("Unknown Error in Code Changing");
                            }
                        };
                        $.ajax(settings);
                    }
                }
    </script>
}

